.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.card {
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

button {
  padding: 10px 18px;
  margin: 10px 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.55);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
}